.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginForm {
  height: 250px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginInputError {
  height: 50px;
  border-radius: 10px;
  border: 1px solid red;
  font-size: 18px;
  padding-left: 20px;
}

.loginInputError:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #6290c8;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}
