.body {
  display: flex;
  height: calc(100vh - 50px);
}

.sidebar {
  flex: 4;
}

.mainbar {
  flex: 16;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    flex: 2;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  padding: 0;
}
